.reloj{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url(../img/reloj.png);
    background-position: center;
    background-size: cover;
}

.manecilla{
    height: 50%;
    width: 4px;
    background-color: black;
    transform-origin: bottom;
    animation: girar 60s infinite linear;
}


@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}